html {
    height: 100%;
}
body {
    background-color: black
}
form {
    text-align : center;
    color : whitesmoke; 
    font-family: "Tahoma"
}
p {
    font-family : "Tahoma"; 
    color: whitesmoke; 
    text-align: center;
}
h1 {
    text-align : center;
    font-family: "Arial"; 
    color: whitesmoke; 
}
h4 {
    text-align : center;
    font-family: "Tahoma"; 
    color: whitesmoke; 
}
.centeredTable {
    margin: 0px auto; 
    text-align: left;
}
th
{
   border-bottom: 2px solid whitesmoke;
}
.returnedTable {
    text-align : center;
    color : whitesmoke
}
.formSubmitButton {
	background: #3700b3;
	color: whitesmoke;
    border: none; 
	height: 50px;
	width: 100px;
	font: bold15px tahoma,sans-serif;
	text-shadow: none;
    border-radius: 15px;
}