<!DOCTYPE html>
{% load static %}

<head>
    {% block head %}
    <link rel="stylesheet" href="{% static 'Converter/style.css' %}">
    {% endblock %} 
</head>

<body>
  <div class="logoBackgroundCircle"><div class="logoTextOne"><br><br><b>Vacay Away</b><br><div class="logoTextTwo"><b><i>Currency Converter</i></b></div></div></div>
  <h1 class="h1">Welcome to the Vacay Away Currency Converter!</h1>
  {% block content %}
  {% endblock %}
</body>

<footer>
  <br>
  <div class="footerContainer">
  <div class="footerCircle"></div><div class="footerCircle"></div><div class="footerCircle"></div><div class="footerCircle"></div><div class="footerCircle"></div>
  </div>
</footer>