{% extends "Converter/base.html" %}

{% block content %}

{% csrf_token %}

<h4>Vacay Away Currency Results</h4>
<p class="p">Country of Origin: {{vacationContext.countryOrigin}}    Country of Arrival: {{vacationContext.countryArrival}}</p>
<p class="p">Latest Conversion Rate: {{vacationContext.latestConversionRate}}</p>
<p class="p">---------------------------------------</p>
<container class="returnedTable">
    <table class="centeredTable">
    <thead>
    <tr>
        <th>Category</th>
        <th>Origin Country Dollar Amount</th>
        <th>Arrival Country Dollar Amount</th>
    </tr>
    </thead>
    {% for i in costCategoryList.items %}
    <tbody>
    <tr>
    {% for key, newValue in costCategoryValues %}
    {% if i.1.costCategory == key %}
        <td>{{ newValue }}</td>
    {% endif %}
    {% endfor %}
    <td>{{ i.1.originCostAmount }}</td>
    <td>{{ i.1.arrivalCostAmount }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
</container>
    <br>
    <p class="p">---------------------------------------</p>
    <p class="p">Total budget in {{vacationContext.countryArrival}} currency: {{totalArrivalCostAmount}}</p>
{% endblock %}