{% extends "Converter/base.html" %}
{% load static %}

{% block content %}

<form action="{% url 'home' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <t>{{ vacay_form.as_table}}</t>
    <p class="p">---------------------------------------</p>
    <table class="centeredTable">
    <thead>
    <tr>
        <th>Category</th>
        <th>Origin Country Dollar Amount</th>
    </tr>
    </thead>
    <tbody>
    {% for i in forms.items %}
    <tr>
    {% for field in i.1 %}
    {% if field.label == "CostCategory" %}
    {% for key, newValue in costCategoryValues %}
    {% if field.value == key %}
        <input type="hidden" id="costCategory" name="costCategory" value="{{ key }}">
        <td>{{ newValue }}</td>
    {% endif %}
    {% endfor %}
    {% elif field.label == "OriginCostAmount" %}
    <td>{{ field }}</td>
    {% endif %}
    {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
    </table>
    <br>
    <input type="submit" class="formSubmitButton" value = "Submit">
</form>

{% endblock %}